[submodule "ansible-bdas/roles/java"]
	path = ansible-bdas/roles/java
	url = https://github.com/AnsibleShipyard/ansible-java.git
[submodule "ansible-bdas/roles/scala"]
	path = ansible-bdas/roles/scala
	url = https://github.com/AnsibleShipyard/ansible-scala.git
[submodule "ansible-bdas/roles/sbt"]
	path = ansible-bdas/roles/sbt
	url = https://github.com/AnsibleShipyard/ansible-sbt.git
[submodule "ansible-bdas/roles/ansible-oracle-java"]
	path = ansible-bdas/roles/ansible-oracle-java
	url = https://github.com/William-Yeh/ansible-oracle-java
[submodule "ansible-bdas/roles/oracle-java"]
	path = ansible-bdas/roles/oracle-java
	url = https://github.com/ansiblebit/oracle-java

