storm.zookeeper.servers:
    - "192.168.92.11"

nimbus.host: "192.168.92.11"

supervisor.worker.timeout.secs: 600
supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703

supervisor.childopts: "-Xmx3072m"
worker.childopts: "-Xmx3072m"
storm.messaging.transport: "backtype.storm.messaging.netty.Context"

drpc.servers:
  - "192.168.92.11"
