<source>
  type tail
  refresh_interval 5
  path {{dstorage_log_dir}}/*
  pos_file {{dstorage_log_dir}}/logs.pos
  format multi_format
   <pattern>
     format /(?<time>[^ ]+ [^ ]+)[ ]+[^{]+Request[^"]+(?<request>[^}]+)/
     #format /(?<time>[^ ]+ [^ ]+)[ ]+(?<source>[^ ]+)[ ]+(?<level>[^ ]+)[ ]+[^{]+Request[^"]+(?<request>[^}]+)/
   </pattern>
   <pattern>
     format /(?<time>[^ ]+ [^ ]+)[ ]+(?<source>[^ ]+)[ ]+(?<level>[^ ]+)[ ]+(?<message>.*)/
   </pattern>
   <pattern>
     format /(?<unsorted>.*)/
	</pattern>
  tag dstorage
</source>

<match dstorage>
  type rewrite_tag_filter
  capitalize_regex_backreference yes
  rewriterule1 request ^.* mongo.dstorage.requests
  rewriterule2 message ^.* unsorted
  rewriterule3 unsorted ^.* unsorted
</match>

<source>
  type tail
  refresh_interval 5
  path /var/log/mesos-master/mesos-master.log
  #pos_file /var/mesos-master/logs.pos
  format multi_format
   <pattern>
     format /(?<time>[^ ]+ [^ ]+)[ ]+(?<threadID>[0-9]+)[ ]+(?<source>[^ ]+)[ ]+[Recovered cpus(*):]+(?<recoveredCPU>[^;]+);/
	 #format /(?<time>[^ ]+ [^ ]+)[ ]+(?<threadID>[0-9]+)[ ]+(?<source>[^ ]+)[ ]+[Recovered cpus(*):]+(?<recoveredCPU>[^;]+); [mem(*):]+(?<recoveredRAM>[^;]+); [disk(*):]+(?<recoveredHDD>[^;]+); [ports(*):]+(?<recoveredPorts>[^,]+)[^ ]{1} [total: cpus(*):]+(?<totalCPU>[^;]+); [mem(*):]+(?<totalRAM>[^;]+); [disk(*):]+(?<totalHDD>[^;]+); [ports(*):]+(?<totalports>[^,]+)[^,]{1}, [allocated: cpus(*):]+(?<allocatedCPU>[^;]+); [mem(*):]+(?<allocatedRAM>[^)]+)[) on slave ]+(?<slave>[^ ]+)[ from framework ]+(?<framework>[^ ]+)/
   </pattern>
   <pattern>
     format /(?<time>[^ ]+ [^ ]+)[ ]+(?<threadID>[0-9]+)[ ]+(?<source>[^ ]+)[ ]+(?<message>.*)/
   </pattern>
   <pattern>
     format /(?<unsorted>.*)/
	</pattern>
  tag mesos
</source>

<match mesos>
  type rewrite_tag_filter
  capitalize_regex_backreference yes
  rewriterule1 source ^http\.cpp clear   -
  rewriterule2 message ^[Recovered cpus]+ mongo.mesos.recovered   -
  #rewriterule3 message ^[Processing]+ mongo.mesos.processing
  #rewriterule4 message ^[Sending ]+ mongo.mesos.sending
  rewriterule5 message [.*]+ unsorted
</match>

<match unsorted>
  type null
</match>

<match mongo.**>
     type mongo
     host 192.168.13.133
     port 27017
	 database logging
	 tag_mapped true
	 remove_tag_prefix mongo.
     flush_interval 10s
</match>


